/* .navigation {
  display: inline-block;
}

.navigation ul li {
  display: inline-block;
}

.product-card {
  display: inline-block;
  width: 30%;
} */

.section-title {
  font-size: x-large;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-around;
}

.section-layout {
  display: flex;
  justify-content: space-evenly;
}
