:root {
  --primary-color: #41709e;
  --secondary-color: #ffc400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Jost", sans-serif;
  list-style: none;
  text-decoration: none;
}
/* HEADER */
.page-header {
  position: fixed;
  background-color: rgb(223, 223, 226);
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 10%;
}
.page-header__logo img {
  max-width: 100px;
  height: auto;
}
.page-header__navigation {
  display: flex;
}
.page-header__navigation a {
  color: #2c2c2c;
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px 20px;
  font-weight: 400;
  transition: all 200ms ease;
}
.page-header__navigation a:hover {
  color: var(--primary-color);
}
.navigation__item {
  display: flex;
}
.page-header__title {
  text-transform: uppercase;
  letter-spacing: 5px;
}

/* HERO */
.hero-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)),
    url(/src/images/hero-image.jpeg);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.hero-container__text {
  color: #fff;
  margin-left: 50px;
  line-height: 1.5;
}
.hero-container__text h2 {
  font-size: 40px;
  font-weight: 500;
}
.hero-container__text p {
  font-size: 15px;
  font-weight: 300;
  line-height: 50px;
}

/* PRODUCTS */
.product__layout {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.product__header {
  text-align: center;
  margin: 2rem 0;
  font-size: 2rem;
  font-weight: 900;
}
.product__card {
  width: 20%;
  background-color: #2c2c2c;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.6);
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product__card img {
  width: 100%;
  height: 50%;
}
.card__content {
  padding: 16px;
  color: #fff;
  line-height: 1.5;
}

.card__content h4 {
  font-size: 30px;
  margin-bottom: 20px;
}
.card__content p {
  color: #a3a3a3;
  font-size: 16px;
}

/* TESTIMONIALS */
.testimonial-container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
  text-align: center;
}
.testimonial__header {
  text-align: center;
  margin: 2rem 0;
  font-size: 2rem;
  font-weight: 900;
}
.testimonial__header p {
  letter-spacing: 2px;
  font-size: 1rem;
  font-weight: 500;
}

.testimonial__header h3 {
  font-size: 2rem;
  font-weight: 900;
}
.testimonial__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-bottom: 2rem;
}
.grid__card {
  padding: 2rem;
  display: grid;
  gap: 1rem;
  border-radius: 5px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.grid__card i {
  font-size: 3rem;
  color: #2c2c2c;
}
.grid__card p {
  font-size: 1rem;
  font-weight: 500;
}

.grid__card hr {
  width: 50px;
  margin: auto;
  color: #2c2c2c;
}
.grid__card img {
  width: 60px;
  height: 60px;
  margin: auto;
  border-radius: 100%;
  border: 1px solid;
}
.grid__card .card__name {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(96, 94, 94);
  transition: 0.4s;
}
.grid__card .card__name:hover {
  color: var(--primary-color);
  font-size: 1.2rem;
}
.testimonial__footer h4 {
  font-size: 1.3rem;
  font-weight: 900;
  margin-bottom: 1rem;
}
.testimonial__footer p {
  mask-border-width: 450px;
  margin: auto;
  font-size: 0.8rem;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}
/* NEWSLETTER */
.newsletter-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.newsletter__subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("https://cdn.pixabay.com/photo/2017/10/13/08/06/background-2847042_1280.jpg");
  width: 100%;
  height: 70%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.newsletter__subscribe h3 {
  color: #fff;
  font-size: 45px;
  margin-bottom: 20px;
  letter-spacing: 2px;
}
.newsletter__subscribe p {
  color: #fff;
  font-size: 16px;
  margin-bottom: 40px;
  text-align: center;
}
.newsletter__subscribe form {
  width: 90%;
  max-width: 500px;
  position: relative;
}
.newsletter__subscribe input {
  width: 100%;
  max-width: 500px;
  border: none;
  outline: none;
  padding: 16px 24px;
  border-radius: 20px;
  font-size: 16px;
}

.newsletter__inner-form {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  margin: 20px;
}

/* FOOTER */
.footer-section {
  background-color: #2d2e33;
}
.footer-section p {
  text-align: center;
  color: #bdb6b6;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  padding: 60px 10%;
  justify-content: space-between;
  align-content: center;
}

.footer__col {
  width: 25%;
}
.footer__col h5 {
  position: relative;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 22px;
  color: var(--secondary-color);
  text-transform: capitalize;
}
.footer__col h5::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  background-color: rgb(120, 14, 14);
  height: 2px;
  width: 40px;
}
.footer__col ul li:not(:last-child) {
  margin-bottom: 8px;
}
.footer__col ul li a {
  display: block;
  font-size: 18px;
  text-transform: capitalize;
  color: #bdb6b6;
  transition: 0.4s;
}
.footer__col ul li a:hover {
  color: #ffff;
  padding-left: 2px;
}
.footer__socials img {
  width: 30px;
}

/* MISC. */
.btn {
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 5px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 10px 30px;
  margin: 10px;
  text-align: center;
  user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  transition: all 150ms, transform 150ms ease-in;
}
.btn:hover {
  transform: translateY(-1px);
  position: relative;
}

.btn--primary {
  background-color: var(--primary-color);
}
.btn--primary:hover {
  background-color: #375d83;
}

.btn--secondary {
  background-color: var(--secondary-color);
  color: #000;
}
.btn--secondary:hover {
  background: #d2942b;
}

.section--header {
  text-align: center;
  margin: 2rem 0;
  font-size: 2rem;
  font-weight: 900;
}
.section--header p {
  letter-spacing: 2px;
  font-size: 1rem;
  font-weight: 500;
}

/* MEDIA QUERIES */
@media (max-width: 900px) {
  .testimonial__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .footer__col {
    width: 50%;
    margin-bottom: 30px;
    text-align: center;
  }
  .footer__col h5::before {
    all: unset;
  }
}

@media (max-width: 600px) {
  .testimonial__grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer__col {
    width: 100%;
  }
}
