* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Jost", sans-serif;
  list-style: none;
  text-decoration: none;
}

.page-header {
  position: fixed;
  background-color: rgb(223, 223, 226);
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 10%;
}
.page-header__logo img {
  max-width: 100px;
  height: auto;
}
.page-header__navigation {
  display: flex;
}
.page-header__navigation a {
  color: #2c2c2c;
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px 20px;
  font-weight: 400;
  transition: all 200ms ease;
}
.page-header__navigation a:hover {
  color: #41709e;
}
.navigation__item {
  display: flex;
}
.page-header__title {
  text-transform: uppercase;
  letter-spacing: 5px;
}

/* hero */

.hero-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)),
    url(/src/images/hero-image.jpeg);
  background-size: cover;
  height: 70vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-container__text {
  color: #fff;
  margin-left: 50px;
  line-height: 1.5;
}
.hero-container__text h2 {
  font-size: 40px;
  font-weight: 500;
}
.hero-container__text p {
  font-size: 15px;
  font-weight: 300;
  line-height: 50px;
}

.hero-container__btn {
  background-color: #ffb534;
  color: #000;
  padding: 10px 30px;
  border-radius: 10px;
  margin-top: 10px;
}
.hero-container__btn:hover {
  background: #d2942b;
  color: #000;
}
/* PRODUCTS */
.product-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.product-container__card {
  width: 20%;
  background-color: #2c2c2c;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.6);
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-container__card img {
  width: 100%;
  height: 50%;
}
.card__content {
  padding: 16px;
  color: #fff;
  line-height: 1.5;
}

.card__content h4 {
  font-size: 30px;
  margin-bottom: 20px;
}
.card__content p {
  color: #a3a3a3;
  font-size: 16px;
}



/* testimonial */

/* .testimonial {
  justify-content: space-around;
}

.testimonial img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.testimonial__title {
  font-size: 50px;
  font-weight: 600;
  text-align: center;
} */

/* footer */
/* footer {
  background-color: rgb(209, 209, 209);
  width: 100%;
  margin: 0;
  width: 100%;
  bottom: 0;
  width: 100vw;
}
.footer-layout {
  display: flex;
  justify-content: space-evenly;
} */

button {
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 5px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 10px 30px;
  margin: 10px;
  text-align: center;
  user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  transition: all 150ms, transform 150ms ease-in;
}
button:hover {
  transform: translateY(-1px);
  position: relative;
}

.btn--primary {
  background-color: #41709e;
}
.btn--primary:hover {
  background-color: #375d83;
}

.btn--secondary {
  background-color: #ffb534;
  color: #000;
}
.btn--secondary:hover {
  background: #d2942b;
}
/*
.btn--accent {
  background-color: cadetblue;
} */
